[submodule "libft"]
	path = libft
	url = git@github.com:CottonKiwii/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:CottonKiwii/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:CottonKiwii/get_next_line.git
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:CottonKiwii/born2beroot.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:CottonKiwii/push_swap.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:CottonKiwii/pipex.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:CottonKiwii/so_long.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:CottonKiwii/minishell.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:CottonKiwii/philosophers.git
